.appstore-block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px; /* Adjust as needed */
}

.title-text {
  font-size: 21px;
  font-weight: bold;
  margin-top: 10px; /* Adjust as needed */
}

.title-line {
  width: 100%;
  border: none; /* Remove default hr border */
  border-top: 1px solid var(--f7-block-strong-border-color); /* Adjust color as needed */
  margin-bottom: 8px; /* Adjust bottom margin as needed */
}
