.appstore-block-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
}

.title-line {
  width: 100%;
  border: none;
  border-top: 1px solid var(--f7-block-strong-border-color);
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.title-content {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Title on the start, action links on the end */
  align-items: center;
}

.title-text {
  flex: 1; /* Title takes up remaining space */
}

.title-text span {
  font-size: 21px;
  font-weight: bold;
}

.title-actions {
  display: flex;
  align-items: center;
}
